<div class="container">
  <h1 class="mb-4">About FlashCard App</h1>
  
  <div class="card mb-4">
    <div class="card-body">
      <h5 class="card-title">Purpose of your application</h5>
      <p class="card-text">
        It is a flash card application that allows users to create, edit, and delete cards with information on the front and back sides, and study them.
      </p>
    </div>
  </div>
  
  <div class="card mb-4">
    <div class="card-body">
      <h5 class="card-title">Why will this application be useful? </h5>
        <p class="card-text">
        This application would be useful for memorizing any information. It would be useful for students and language learners.
      </p>
        
    </div>
  </div>
  
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Additional npm packages i used</h5>
      <p class="card-text">
        I implemented the ability to add images to the cards, so that the users can better memorize the information,  I used multer for that.
      </p>
    </div>
  </div>
</div>